
div {
    width: 400px;
    margin: auto;
}

table td{
    border: 1px solid black;
    padding: 3.3em;
    margin-left: 10em;
}

.hidden {
    background-color: black;
}

#cpt {
    width: 20px;
    padding: 0.2em;
    background-color: black;
    color: white;
}